
<div class="main">
  <div class="nav_bar">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light slidebar" style="width: 280px; height: 1000%">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a
                  class="list-group-item"
                  routerLink="/home"
                  >Home</a>
              </li>
              <li class="nav-item">
                  <a
                  class="list-group-item"
                  routerLink="/about"
                  >About</a>
              </li>
              <li class="nav-item">
                  <a
                  class="list-group-item"
                  [routerLink]="['/albums']"
                  >Albums</a>
              </li>
          </ul>
          
      </div>
  </div>
  <div class="album">
      <router-outlet></router-outlet>
      
  </div>
  

</div>

