<div class="product-card">
    <a [href]="product.link" target="_blank">
      <img [src]="product.image"  class="main-image">
    </a>  


    <!-- Теперь после той передачи в PrItems.ts я могу использовать те самые начальные значения в данном html файле -->
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><strong>Likes:</strong> {{ product.likes }}</p>
    
    <!-- This one is for gallery scrolling -->
    <div class="gallery">
      <div class="gallery-item"  *ngFor="let img of product.gallery">
        <img [src]="img" (click) = "On(img)" >
      </div>
    </div>

    <!-- This div is for share buttons -->
    <div class="share-buttons">
      <button (click)="like()" style="background-color: rgb(238, 144, 144);">Like 👍</button>
      <button (click)="remove()">Remove 🗑️</button>
    </div>
  </div>
