.main{
    display: flex;
}

li{
    font-size: 24px;
}

li:hover{
    text-decoration: underline;
}

.nav_bar{
    position: relative;
}

d-flex{
    position: fixed;
}

.products{
    margin: 0 auto;
}


